@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

a {
  color: #ec407a;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }
  a:hover {
    color: #f8bbd0;
    text-decoration: none;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }

input, textarea {
  border: #666 1px solid;
  outline: none; }
  input:focus:required:invalid, textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid, textarea:required:valid {
    border-color: green; }

header {
  padding: 90px 0 90px 0; }

section {
  padding: 70px 0 70px 0; }

.navbar .btn-outline-warning {
  border: 2px solid #fff !important;
  color: #fff !important; }

.main-header {
  color: #fff; }

.overlay-header:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.main-title h1 {
  border-bottom: 3px solid red;
  text-align: center;
  font-weight: bold; }

.main-title span {
  position: relative;
  top: 1px;
  display: inline-block;
  border-bottom: 3px solid red; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ff3547;
  box-shadow: 0 1px 1px rgba(204, 0, 0, 0.075) inset, 0 0 8px rgba(204, 0, 0, 0.6);
  outline: 0 none; }

.main-contacts {
  padding: 25px 0 0 0 !important; }

.main-contacts .contact-social a {
  margin-left: 15px; }

form .form-check-label {
  font-size: 12px; }
