@media only screen and (max-width : 768px) {

	
	.main-reviews .text-testimonial {
		font-size: 14px;
	} 
		


	.main-reviews .owl-my-nav .owl-prev,
	.main-reviews .owl-my-nav .owl-next {
		font-size: 50px;
	}
		


	.main-reviews .owl-my-nav .owl-prev {
		left: 0;
	}
		

	.main-reviews .owl-my-nav .owl-next {
		right: 10px;
	}
		
}

@media only screen and (max-width : 320px) {
	
}