@media only screen and (max-width : 992px) {

	.main-header .top-right__phone {	
		font-size: 24px;
	}


}




@media only screen and (max-width : 768px) {

	.main-header .top-right__phone {	
		font-size: 22px;
	}


}

@media only screen and (max-width : 320px) {
	

	.main-header .top-right__phone {	
		font-size: 18px;
	}

}